
@{
    ViewData["Title"] = "AddToFavorites";
}

<h3>Add To Favorites</h3>

<p>
    Movie added to favorites successfully....
    <a asp-action="GetFavoriteMovies" asp-controller="customer">Show Movies In Favorites</a><br />
    <a asp-action="GetMovies">Movies</a>
</p>

